<ng-container >
  <div *ngFor="let language of languageList">
    <a href="/{{ language.code }}/" class="lang">
      <button class="button">{{ language.label }}</button>
    </a>
  </div>
    <div class="header">
      <a href="#">
        <img height="30px" src="./assets/logo.jpg" alt="logo">
      </a>
    </div>
  
  </ng-container
>
<section class="container">
  <div class="make-transaction">
    <mat-card class="mat-elevation-z4">
      <mat-card-content>
        <app-make-transaction></app-make-transaction>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="transaction-detail">
    <mat-card class="mat-elevation-z4">
      <mat-card-content>
        <app-transactions-history></app-transactions-history>
      </mat-card-content>
    </mat-card>
  </div>
</section>
