.lang {
  float: right;
}

.header {
  background-color: #fff;
  border-bottom: 2px solid #FF8E4B;

  -moz-box-shadow:    inset 0 0 1px #FF8E4B;
  -webkit-box-shadow: inset 0 0 1px #FF8E4B;
  box-shadow:         inset 0 0 1px #FF8E4B;
  width: 100%;
  height: 65px;
}

.header a {
  display: block;
  padding: 20px;
  padding-left: 10%;
}

@media only screen and (min-width: 769px) {
  .container {
    padding-top: 5%;
    padding-left: 10%;
    width: 80%;
    float: center;
  }

  .make-transaction {
    width: 33%;
    float: left;
    padding-right: 2%;
  }

  .transaction-detail {
    float: left;
    width: 65%;
  }
}

@media only screen and (min-width: 499px) and (max-width:768px) {
  .container {
    padding-top: 6%;
    width: 100%;
  }
  .header img {
    max-width: 300px;
  }

  .header a {
    display: block;
    text-align: center;
  }

  .make-transaction {
    width: 100%;
    padding-top: 10px;
    padding-right: 0%;
    
  }

  .transaction-detail {
    float: center;
    padding-top: 10px;
  }

  .search {
    width: 100%;
    float: left;
    padding-right: 2%;
  }
}

@media only screen and (max-width: 500px) {
  .container {
    padding-top: 6%;
    width: 100%;
  }

  .header a {
    display: block;
    text-align: center;
  }

  .header img {
    max-width: 300px;
  }

  .make-transaction {
    width: 100%;
    padding-top: 10px;
    padding-right: 0%;
  }

  .transaction-detail {
    float: center;
    padding-top: 10px;
  }

  .search {
    width: 100%;
    float: left;
    padding-right: 2%;
  }
}
