/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, li,
fieldset, form, label, legend,
time, mark, audio, video {
    margin: 0;
    font-family: 'Kanit', sans-serif;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
body, html {
    font-family: 'Kanit', sans-serif;

    background: url('./assets/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    font-family: 'Kanit', sans-serif;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.detail {   
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
}

.content {
    padding: 16px;
}

.content > mat-card {
    width: 200px;
}

.float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child {
    width: 49%;
    float: left;
    padding: 20px;
    border: 2px solid red;
}  